@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-on-background: #1d1b16;
  --md-sys-color-background: #fffbff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-on-background: #e7e2d9;
    --md-sys-color-background: #1d1b16;
  }
}

body {
  color: var(--md-sys-color-on-background);
  background: var(--md-sys-color-background);
}